*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content, #solution{
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    border: 5px solid green;
    padding: 20px;
}

button{
    margin: 50px;
    padding: 10px;
}

.codeblock{
    padding: 0;
}

#content > pre code {
    padding: 0;
}

pre.inline {
    display: inline;
 }

pre.inline > code{
    display: inline;
    margin: 0px 5px;
    padding: 1.5px 3px;
    background-color: rgba(211, 211, 211, 0.534);
}
 

#line-no{
    width: 40px;
    color: gray;
}

#code-container{
    width: calc(100% - 40px);
}
 

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
 

  .gist .blob-code-inner{ font-size:1rem !important; }
 